@media (max-width: 1140px) {
   [class*="__container"] {
      padding: 0px 30px;
   }
   .main {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .main__container {
      flex-direction: column;
   }
   .main__title {
      max-width: 800px;
   }
   .main__image-1 {
      position: static;
      width: 100%;
   }
}
@media (max-width: 864px) {
   .main__logo {
      margin-bottom: 50px;
   }
   .main__title {
      font-size: 52px;
   }
   .sharing__title {
      font-size: 42px;
   }
   .page__vip {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .vip__title {
      font-size: 42px;
   }
   .vip__text {
      max-width: 804px;
   }
      
   .vip__images {
      display: none;
   }
   
   .slider {
      display: block;
      position: relative;
      margin: 0 auto;
      margin-bottom: 26px;
      max-width: 811px;
   }
   .hidden {
      display: none;
   }
   .slider::before {
      position: absolute;
      content: '';
      background: url('../img/vip-icon1.png') 0 0 / 100% no-repeat;
      width: 200px;
      height: 200px;
      top: -80px;
      right: -50px;
      z-index: 2;
   }
   .slider img {
      width: 100%;
      border-radius: 60px;
      object-fit: cover;
   }
   .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
   }
   .btn-next,
   .btn-prev {
      width: 50px;
      height: 50px;
      background: url('../img/arrow.svg') 0 0 / 100% no-repeat ;
      background-color: #ffde40;
      border-radius: 50%;
   }
   .btn-prev {
      transform: rotate(180deg);
   }
   .item-ticket__title {
      font-size: 42px;
      max-width: 778px;
   }
   .ticket__items {
      grid-template-columns: 1fr;
      row-gap: 30px;
      column-gap: 30px;
   }
   .item-ticket:nth-child(3) {
      order: 4;
   }
   .item-ticket:nth-child(4) {
      order: 3;
   }
   .item-ticket__text-1 {
      margin-bottom: 0;
   }
   .footer {
      padding-top: 0px;
      padding-bottom: 100px;
   }
}
@media (max-width: 554px) {
   .sharing__items {
      grid-template-columns: 1fr;
   }
}
@media (max-width: 472px) {
   [class*="__container"] {
      padding-right: 15px;
      padding-left: 15px;
   }
   .main {
      padding-top: 32px;
      padding-bottom: 0px;
   }
   .main__logo {
      max-width: 112px;
      margin-bottom: 27px;
   }
   .main__logo img {
      width: 100%;
   }
   .main__title {
      margin-bottom: 24px;
      max-width: 200px;
      font-size: 36px;
      letter-spacing: -0.72px;
   }
   .main__text {
      margin-bottom: 0px;
      max-width: 311px;
      font-size: 18px;
   }
   .price-1 {
      padding: 1px 10px;
   }
   .price-1::after {
      font-size: 13px;
      padding: 4px 12px 4px 27px;
      bottom: -1px;
      right: -60px;
   }
   /*.price-2 {
      bottom: -5px;
      right: 90px;
      font-size: 13px;
   }*/
   .main__btn {
      position: fixed;
      bottom: 20px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      /*padding-right: 30px;*/
      width: 100%;
   }
   .main__button {
      padding: 18px 60px;
      font-size: 16px;
      z-index: 10;
   }
   .main__image-1 {
      display: none;
   }

   .page__sharing {
      padding-top: 45px;
      padding-bottom: 68px;
   }
   .sharing__title {
      max-width: 311px;
      margin-bottom: 33px;
      font-size: 32px;
      letter-spacing: -0.64px;
   }
   .sharing__items {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 27px;
      column-gap: 0px;
   }
   .sharing__item {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 22px;
      max-width: 311px;
      font-size: 16px;
   }
   .sharing__item img {
      max-width: 75px;
      object-fit: contain;
      margin-bottom: 0;
   }
   .item-text {
      max-width: 212px;
   }
   .page__vip {
      padding-top: 0px;
      padding-bottom: 50px;
   }
   .vip__title {
      max-width: 300px;
      margin-bottom: 20px;
      font-size: 32px;
      letter-spacing: -0.64px;
   }
   .vip__text {
      max-width: 311px;
      margin-bottom: 70px;
      font-size: 16px;
      line-height: 1.2;
   }
   .page__ticket {
      padding-bottom: 0px;
   }
   .ticket__items {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
   }

   .item-ticket__title {
      max-width: 300px;
      margin-bottom: 22px;
      font-size: 32px;
      letter-spacing: -0.64px;
   }
   .ticket__item:nth-child(2) {
      display: none;
   }
   .item-ticket__text {
      max-width: 311px;
      margin-bottom: 0px;
      font-size: 16px;
   }
   /*.ticket__item:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 311px;
      height: 311px;
      margin-bottom: 17px;
   }*/
   /*.ticket__item:nth-child(3) img {
      max-width: 280px;
      height: 280px;
   }*/
   .ticket__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 27px;
      padding-top: 17px;
      padding-bottom: 17px;
      font-size: 18px;
   }
   .footer {
      padding-top: 20px;
      padding-bottom: 90px;
   }
   .footer__text {
      font-size: 10px;
   }
}